# Virtual environment
venv/
.venv/

# Environment variables
.env

# Python
__pycache__/
*.py[cod]
*$py.class
*.so

# Output files
output_enderecos.xlsx

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db
